body {
    background-image: url(../images/movie\ img\ 1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 1500px;


}

<<<<<<< HEAD
=======

>>>>>>> f2bca3d9c6558e128699115cd850777498d64d85
.header {
    font-family: fantasy;
    color: black;
    font-weight: bold;
    height: 100px;
    padding-top: 60px;
}

#searchBtn {
    width: 10%;
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: white;
    background-color: black;
    font-family: fantasy;
    font-size: 20px;
}

/* #movieName {
    margin-left: 0px;
    width: 25%;
    font-family: fantasy;
    
} */

h2 {
    font-family: fantasy;
    font-weight: bold;
    font-size: 30px;
}


li.btn {
    width: 25%;
    display: block;
    margin-right: 25px;
    margin-bottom: 25px;
    border-style: line;
    text-align: center;
    border-width: 10px;
    background-color: #c86428;
    color: #e3cc6a;
    font-family: fantasy;
    font-size: 30px;

}

li::marker {
    display: none;
    font-family: fantasy;

}

.right-side {
    font-size: 30px;
    font-family: fantasy;
}
