body {
    background-image: url(../images/movie\ img\ 1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 1500px;

}


 .container {
    display: flex;
    width: 100%;

}

.header {
    transform: translateX(128px);
    font-weight: bold;
    height: 100px;
    padding-top: 50px;
}

.title {
    display: flex;
    color: #241B1B;
    font-family: 'sedgwick ave display';
    font-size: 90px;
}

.subtitle {
    display: flex;
    font-family: 'righteous';
    font-size: 45px;
    color: whitesmoke;
    font-weight: bold;
}

#movieTitle {
    width: 48%;
    height: 50px;
    background-color: #EFE2B5;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#searchBtn {
    width: 48%;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #EFE2B5;
    background-color: black;
    font-family: 'sigmar one';
    font-size: 20px;
}

#enterMovie {
    color: black;
    margin-right: 200px;
    margin-top: 125px;
    font-family: 'Luckiest Guy';
    font-size: 25px;
}

#prevTitles {
    color: black;
    margin-top: 40px;
    font-family: 'Luckiest Guy';
    font-size: 35px;
}

li.btn {
    width: 50%;
    display: block;

    margin-bottom: 25px;
    border-style: line black;
    text-align: center;
    border-width: 10px;
    background-color: #c86428;
    color: #EFE2B5;
    font-family: 'sedgwick ave display';
    font-size: 30px;
}

li::marker {
    display: none;
    font-family: fantasy;
}

.left-side {
    margin-right: 200px;
    width: 500px;
    margin-top: 45px;
}

.right-side {
    width: 600px;
    margin-right: 125px;
    margin-top: 215px;
}

#movie-country-facts {
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    font-size: 20px;
}

#country-name {
    font-size: 32px;
    color: Black;
    font-family: 'Luckiest Guy';
    width: 600px;
}


@media screen and (max-width: 870px) {

    .header {
        transform: translateX(95px);
    }
    .subtitle {
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

} 